.calender{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows:  50px repeat(5, 75px);
    row-gap: 10px;
    column-gap: 10px;
}
.date{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.other-month{
    background-color: gainsboro;
}